.markdown-content h1,
.markdown-content h2,
.markdown-content h3 {
  margin-top: 1rem;
}

.markdown-content ul,
.markdown-content ol {
  margin-bottom: 1.5rem;
}

.markdown-content pre,
.markdown-content table {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.markdown-content hr {
  margin-bottom: 1rem;
  border-color: #eee;
}
